.area {
  width: 200px;
  height: 100px;
}

.clear {
  background-color: #ff000d;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 15px;
  border: none;
}

.clear :hover {
  background-color: #680308;
}
